html {
  background-image: url(/cse110-sp23-group11/source/images/bg2.jpg);
  background-size: auto;
  background-repeat: repeat;
}

h1 {
  position: relative;
  text-align: center;
}

nav {
  text-align: right;
}