html {
  background-size: auto;
  background-repeat: repeat;
  background-color: rgb(164, 72, 72);
}

h1 {
  position: relative;
  text-align: center;
}

nav {
  text-align: right;
}

nav p {
  color: white;
  font-size: large;
}

.font-with-border {
  font-size: 60px;
  -webkit-text-fill-color: rgb(255, 255, 255); /* Specify font color */
  -webkit-text-stroke: 5px rgb(182, 81, 81); 
  font-family: 'Chango', cursive;
}

main {
  background-color: rgb(218, 159, 159);
  border-radius: 5px;
}

.card-container {
  /* image 3 */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */

  /* margin-top: 3.5vh; */
  /* display: flex; */
  /* flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%; */

  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Creates 5 columns with equal width */
  grid-gap: 10px; /* Adjust the gap between the cards as needed */
}

/* .card {
  width: 30vh;
  height: 20vh;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} */

/* .card-back {
    position: absolute;
    width: 25vh;
    height: 35vh;
    border-radius: 5px;
    backface-visibility: hidden;
    transition: transform 0.8s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
} */

.card-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.card img {
    width: 25vh;
    height: 35vh;
    margin-top: 5vh;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}