.head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: left;
  color: #ffffff;
  background-color: #bb4b4b;
}

h1 {
  position: relative;
  text-align: center;
  margin-top: 1.5cm;
}

h3 {
  color: black;
}

p {
  margin-top: 0.5cm;
  position: relative;
}

main {
  display: flex;
  margin:auto;
  margin-top: 5cm;
  justify-content: center;
}
.content {
  position: relative;
  background-color: #ffffff;
  min-height: 25vh;
  min-width: 40vh;
  width: fit-content;
  height: fit-content;
  border: 10px solid transparent;
  border-radius: 20px;
  align-items: center;
  text-align: center;
	overflow: hidden;
}

button {
  margin-top: 1cm;
  margin-bottom: 1.2cm;
  background-color: #acf0e0;
  text-align: center;
  min-height: 5vh;
  min-width: 12vh;
  border-radius: 20px;
  border: #ffffff;
}

.qa-outer{
  background-color: #e1a851;
  position: absolute;
  height: 6.5cm;
  padding: 10px;
  bottom: 1.6cm;
  left: 0;
  right: 0; 
}
.qa-inner {
  background-color:   #fffcc9;
  position: absolute;
  height: fit-content;
  text-align: center;
  border-radius: 15px; /* This will round the corners */
  bottom: 0.8cm;
  left: 0.4cm;
  right: 0.4cm;
}

.foot {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  color: #ffffff;
  background-color: #bb4b4b;
}