body {
  background-image: url("../assets/images/background.png");
  background-size: cover;
	background-repeat: no-repeat;
  background-position: center center;
}
h1 {
  border: 5px solid rgb(240, 154, 154);
  position: relative;
  text-align: center;
}