html {
  background-image: url("assets/images/background.jpg");
  background-size: cover;
	background-position: top left 25%;
}
h1 {
  position: relative;
  text-align: center;
}
p {
  position: relative;
  text-align: center;
}
body {
  border: 5px solid rgb(243, 189, 189);
  align-items: center;
  text-align: center;
}